#balance{
    box-sizing: border-box;
    padding: 10px;
    width: 470px;
    height: 200px;
    background-color: var(--componentBackground);
    border-radius: 20px;
}
#hide-balance{
    float: right;
    padding: 10px;
}
#title-tlm-balance{
    color: var(--primaryText);
    margin-left: 15px;
    margin-top: 20px;
    margin-bottom: 30px;
    font-weight: 300;
    font-size: 20px;
}
.hide-balance-button{
    width: 100%;
    height: 12px;
}
.current-tlm-details{
    margin-left: 30px;
}
#current-tlm-balance{
    color: var(--primaryText);
    font-size: 40px;
    margin-bottom: 9px;
}
#current-tlm-converted{
    color: var(--primaryColor);
}
#approx-abbreviation{
    font-weight: 100;
    font-size: 12px;
}
#copy-to-clipboard{
    cursor: pointer;
    margin-left: 10px;
    margin-bottom: 11px;
    transition: 0.2s;
}
#copy-to-clipboard:hover{
    filter: invert(0.5);
}