#compact-view{
    width: 100vw;
    height: 100vh;
    background-color: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--primaryText);
    font-family: 'Sofia Pro', sans-serif;
}
/* <h3 id="min-wallet-name">1boss.wam</h3>
        <h2 id="min-current-state-title">{lang.strings.botCurrentState}</h2>
        <h1 id="min-current-state">{lang.strings.states.error}</h1>
        <h1 id="min-current-land">ACTIVE VULCANO (389:39)</h1>
        <h2 id="min-current-land-comission">2% COMISSION</h2>
        <h2 id="min-total-tlm-mined">278 TLM {lang.strings.mined}</h2>
        <h2 id="min-current-tlm-mined-hour">1.74 TLM/{lang.strings.hour} {lang.strings.mined}</h2> */
#min-wallet-name{
    font-size: 20px;
    font-weight: 400;
    float: left;
}
#min-current-state-title{
    margin-top: 15px;
    font-size: 24px;
    color: var(--primaryColor);
}
#min-current-state{
    font-size: 50px;
    font-weight: bold;
    margin-top: 10px;
}
#min-current-land{
    margin-top: 40px;
    font-size: 25px;
}
#min-current-land-comission{
    margin-top: 5px;
    color: var(--primaryColor);
}
#min-total-tlm-mined{
    margin-top: 40px;
    font-size: 25px;
}
#min-total-tlm-mined span{
    margin-top: 40px;
    font-size: 16px;
    text-transform: lowercase;
    color: var(--primaryColor);
}
#min-current-tlm-mined-hour {
    margin-top: 10px;
    font-size: 25px;
    
}
#min-current-tlm-mined-hour span{
   font-size: 16px;
   text-transform: lowercase;
   color: var(--primaryColor);
}
#min-progress-bar{
    width: 60vw;
}
#min-resources-title{
    margin-top: 70px;
    font-size: 20px;
    font-weight: bold;
}
#min-resources-cpu{
    margin-top: 20px;
    font-weight: 400;
}
#start-mining{
    width: 100%;
    height: 40px;
    border-radius: 20px;
    background-color: var(--primaryColor);
    border: none;
    outline: none;
    color: white;
    font-family: 'Sofia Pro', sans-serif;
    transition: 0.5s;
   }
   #start-mining:hover{
       filter:opacity(0.8)
   }
   #start-mining:active{
       background-color: #62B0F6;
   }
.min-mine-button{
    margin-top: 20px;
    width: 80%;
}